<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    
  	  <class name="com.api.PropertiesTC.GET_01_Products_List"/>
      <class name="com.api.PropertiesTC.POST_02_to_Product_List"/>
      <class name="com.api.PropertiesTC.GET_03_Brands_List"/>
      <class name="com.api.PropertiesTC.PUT_04_to_Brands_List"/>
      <class name="com.api.PropertiesTC.POST_05_valid_SearchProduct"/>
      <class name="com.api.PropertiesTC.POST_06_invalid_SearchProduct"/>
      <class name="com.api.PropertiesTC.POST_07_valid_VerifyLogin"/>
      <class name="com.api.PropertiesTC.POST_08_invalid_VerifyLogin"/>
      <class name="com.api.PropertiesTC.DEL_09_valid_VerifyLogin"/>
      <class name="com.api.PropertiesTC.POST_10_invalid_VerifyLogin"/>
      <class name="com.api.PropertiesTC.POST_11_createAccount"/>
      <class name="com.api.PropertiesTC.PUT_13_updateAccount"/>   
	  <class name="com.api.PropertiesTC.GET_14_detailAccount"/>
	  <class name="com.api.PropertiesTC.DEL_12_deleteUser"/>      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
